<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
                            
    
    
    
    
    
    <wb-module deploy-name="SNP-seekV3_clean-8.17.0">
                                                
        
        
        
        
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
                                                        
        
        
        
        
        
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
                                                        
        
        
        
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
                                                
        
        
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/resources"/>
                                                        
        
        
        
        
        
        <property name="java-output-path" value="/zk-wysiwyg/build/classes"/>
                        
        
        <property name="context-root" value="SNP-seekV3_clean"/>
                                                    
    
    
    
    
    
    </wb-module>
                        





</project-modules>
